.App {
  text-align: center;
}

input {
  padding: 10px;
  margin: 20px;
}

.main-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.input-model {
  position: absolute;
  top: 10%;
  left: 30%;
  border: 2px solid;
  width: 40%;
  background-color: purple;
}

.name-container {
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 20px;
}

.add-btn {
  padding: 10px;
  margin: 20px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn {
  padding: 10px;
  margin: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  width: 90px;
}

.update-btn {
  padding: 10px;
  margin: 20px;
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  width: 90px;
}
